body {
  background-color: rgb(204, 126, 126);
  height: 100%;
  
}
.encabezado {
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  border-radius:30px;
  
}


.imagen {
  height: 300px;
}
.artic {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 30px;
}
.artic .rec {
  height: 20px;
  width: 100px;
  
}

.ejemplos {
  display: flex;
  gap: 20px;
}

.padre {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.padre:hover {
  opacity: 50%;
  scale: 1.1;
  transition: 300ms;
}

.conteiner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rec {
  border: 1px solid black;
}
.padre .rec:first-child {
  height: 150px;
}
.padre .rec:nth-child(2) {
  height: 30px;
}
.cta {
  width: 300px;
  height: 100px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 30px;
}
.cta {
  margin: 0 auto;
}

.sub .rec {
  height: 80px;
  width: 120px;
}
.sub2 {
  height: 40px;
  width: 150px;
}

.contenido {
  padding: 20px;
  border-radius: 30px;
}

.sub {
  gap: 20px;
  justify-content: right;
}
.esquinatop {
  justify-content: left;
}

.esquinabot .rec:first-child {
  height: 30px;
  width: 80px;
}
.esquinabot .rec:nth-child(2) {
  height: 30px;
  width: 80px;

}
.esquinabot{
  justify-content: left;
  position: absolute;
  bottom: 270px;
  gap: 30px;

}
